<ion-header>
  <ion-navbar>
    <ion-title>Tambah Titipan</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label stacked>Asal</ion-label>
    <ionic-selectable item-content [(ngModel)]="asal" [items]="kota" itemValueField="id" itemTextField="name"
      [canSearch]="true" (onChange)="kotaasal($event)">
      
    </ionic-selectable>
  </ion-item>

  <ion-item>
    <ion-label stacked>Tujuan</ion-label>
    <ionic-selectable item-content [(ngModel)]="tujuan" [items]="kota" itemValueField="id" itemTextField="name"
      [canSearch]="true" (onChange)="kotatujuan($event)">
    </ionic-selectable>
  </ion-item>

  <ion-item>
    <ion-label floating>Jumlah</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <ion-item>
          <ion-label floating>Panjang</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-4>
        <ion-item>
          <ion-label floating>Lebar</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-4>
        <ion-item>
          <ion-label floating>Tinggi</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
 
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-label floating>Volume</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label floating>Kg</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-label stacked>Latitude</ion-label>
          <ion-input type="text" *ngIf="fromjson">{{fromjson}}</ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label stacked>Longitude</ion-label>
          <ion-input type="text" *ngIf="tojson">{{tojson}}</ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-label stacked>Alamat Pengambilan</ion-label>
    <ion-input type="text" ></ion-input>
  </ion-item>
    <ion-item >
      <ion-searchbar [(ngModel)]="autocompleteFrom.input" (ionInput)="updateSearchResultsFrom()" placeholder="Lokasi Pengambilan"></ion-searchbar>
    </ion-item>
    <ion-list *ngIf="!From_search_results" class="search_list" [hidden]="autocompleteItemsFrom.length == 0">
      <ion-item class="List_items" *ngFor="let item of autocompleteItemsFrom" (click)="selectSearchResultFrom(item)">
        <ion-icon name="ios-navigate-outline"></ion-icon> {{ item.description }}
      </ion-item>
    </ion-list>
  
  
  <div #map id="map" style="height: 300px;"></div>
  <ion-card>
    <ion-card-content>
      <div #directionsPanel></div>
    </ion-card-content>
  </ion-card>
  <button ion-button block>Tambahkan</button>
</ion-content>
