page-titipan {
    ion-card{
        border-radius: 2px;
    }
    .top{
        background: rgb(12, 96, 129);
    }
    .top h1{
        font-weight: bold;
        color: white;
    }
    ion-input{
        border: 1px solid rgb(6, 145, 126);
        border-radius: 2px;
    }
    .table{
        width: 100%;
        padding: 2px;
    }
}
